#idea
*.idea
*.iml
*.ipr
*.iws

#gradle
*.gradle
/*/build
bin
gradle.properties

#eclipse
.classpath
.project
.settings
classes

#log
logs

## fontend
bower_components
node_modules

# git
*.orig

*-local.properties
config-local
TestAction.java

application-dev.properties
web/src/main/webapp/assets/
web/src/main/webapp/css/

.sublime-gulp.cache

package-lock.json

resources-*

# maven

target
/web/src/main/webapp/src/baseapi/request.js
/web/src/main/webapp/src/baseapi/config.js
#/web/src/main/webapp/config/index.js

web/npm-debug.log

#java
web/src/main/java/*
web/src/main/resources/*
